
.pokemon-selector {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .close-button {
    align-self: flex-start;
    margin: 5px;
  }

  .pokemon-picker {
    background-color: white;
    flex-grow: 1;
    overflow: auto;
    border-radius: 8px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  form {
    background-color: #e9e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 90vh;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  .submit-button {
    margin: 5px;
  }
