legend {
    font-weight: bold;
}

fieldset {
    border: 0;
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 25px;
}

.checkbox-img {
    width: 60px;
    height: 60px;
    display: block;
    object-fit: contain;
}