#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  padding-top: 0;
}

#body{
  margin-left: 0;
  padding-left: 0;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;   
  align-items: center;       
  height: 100vh;             
  width: 100vw;              
  flex-wrap: wrap;          
  gap: 16px;                 
  padding: 16px;            
  box-sizing: border-box;    
}

.pokemon-selector {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
}